## Part 2 - Transforming the columns of the final dataset (latest changes on 16.02.2020)

#### Import the libraries

In [2]:
import pandas as pd
import numpy as np

# Module to serialize the content produced from the execution of the code

import pickle

# Module to monitor the progress of a python for loop

from tqdm import tqdm_notebook

import re

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#### Import the dataset

In [77]:
#dataset = pd.read_pickle('D:\\GitHub-Thesis\\58,000 movies\\final_dataset_49393_movies_25012020.pkl')
#dataset = pd.read_pickle('D:\\GitHub-Thesis\\58,000 movies\\dataset_part_1_25012020.pkl')
dataset = pd.read_pickle('C:\\Users\\spano\\Desktop\\GitHub-Thesis\\models_text_classification\\pickled_data_per_part\\dataset_part_1_25012020.pkl')

#previous versions "final_dataset_07112019", "final_dataset_22102019.pkl", dataset_part_1_17112019.pkl

dataset = dataset.reset_index(drop=True)
dataset.shape

(49393, 10)

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

### Section 2.1: Cleaning the columns

##### Section 2.1.1: Clean the year (i.e 2001) from each title - 25.10.2019

In [78]:
exp = r'\(\d\d\d\d.'

dataset['title'] = dataset['title'].apply(lambda x: re.sub(exp,"",x).strip())

In [79]:
dataset.head()

,title,genres,rating,imdb_url,reviews_url,actors,plot,imdb_rating,director,reviews
0,Toy Story,"[Adventure, Animation, Children]",3.89,http://www.imdb.com/title/tt0114709/,http://www.imdb.com/title/tt0114709/reviews?sp...,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",\n A cowboy doll is profoun...,8.3,John Lasseter,[Andy's toys live a reasonable life of fun and...
1,Jumanji,"[Adventure, Children, Fantasy]",3.25,http://www.imdb.com/title/tt0113497/,http://www.imdb.com/title/tt0113497/reviews?sp...,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",\n When two kids find and p...,7.0,Joe Johnston,[The smash hit 1995 film Jumanji- based on the...
2,Grumpier Old Men,"[Comedy, Romance]",3.17,http://www.imdb.com/title/tt0113228/,http://www.imdb.com/title/tt0113228/reviews?sp...,"[Walter Matthau, Jack Lemmon, Sophia Loren, An...",\n John and Max resolve to ...,6.7,Howard Deutch,[Sequels are rarely half as good as the origin...
3,Waiting to Exhale,"[Comedy, Drama, Romance]",2.87,http://www.imdb.com/title/tt0114885/,http://www.imdb.com/title/tt0114885/reviews?sp...,"[Whitney Houston, Angela Bassett, Loretta Devi...",\n Based on Terry McMillan'...,5.9,Forest Whitaker,[I read some of the other comments comcerning ...
4,Father of the Bride Part II,[Comedy],3.08,http://www.imdb.com/title/tt0113041/,http://www.imdb.com/title/tt0113041/reviews?sp...,"[Steve Martin, Diane Keaton, Martin Short, Kim...",\n George Banks must deal n...,6.0,Charles Shyer,"[I enjoyed this film, as I did Father of the B..."

# - - - - - - - - -  - - - - - - - - - - - - - - - - - -- - - - - - - - - - - - - - - - - -

##### Section 2.1.2: Replace (,The) & (,A) from the end of the string, at the front - 26.01.2020

In [80]:
dataset[dataset.director == "Christopher Nolan"]

,title,genres,rating,imdb_url,reviews_url,actors,plot,imdb_rating,director,reviews
2408,Following,"[Crime, Mystery, Thriller]",3.77,http://www.imdb.com/title/tt0154506/,http://www.imdb.com/title/tt0154506/reviews?sp...,"[Jeremy Theobald, Alex Haw, Lucy Russell, John...",\n A young writer who follo...,7.5,Christopher Nolan,[The debut that plucked from obscurity one of ...
4038,Memento,"[Mystery, Thriller]",4.15,http://www.imdb.com/title/tt0209144/,http://www.imdb.com/title/tt0209144/reviews?sp...,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",\n A man with short-term me...,8.4,Christopher Nolan,[Thank Goodness I didn't read the reviews post...
5187,Insomnia,"[Action, Crime, Drama]",3.48,http://www.imdb.com/title/tt0278504/,http://www.imdb.com/title/tt0278504/reviews?sp...,"[Al Pacino, Martin Donovan, Oliver 'Ole' Zemen...",\n Two Los Angeles homicide...,7.2,Christopher Nolan,[I didn't know that 'Insomnia' was based on a ...
10062,Batman Begins,"[Action, Crime, IMAX]",3.93,http://www.imdb.com/title/tt0372784/,http://www.imdb.com/title/tt0372784/reviews?sp...,"[Christian Bale, Michael Caine, Liam Neeson, K...",\n After training with his ...,8.2,Christopher Nolan,[It sickened me in the past to see the Batman ...
11291,"Prestige, The","[Drama, Mystery, Sci-Fi]",4.09,http://www.imdb.com/title/tt0482571/,http://www.imdb.com/title/tt0482571/reviews?sp...,"[Hugh Jackman, Christian Bale, Michael Caine, ...","\n After a tragic accident,...",8.5,Christopher Nolan,"[I won't say it's an underrated movie, but it ..."
12422,"Dark Knight, The","[Action, Crime, Drama]",4.17,http://www.imdb.com/title/tt0468569/,http://www.imdb.com/title/tt0468569/reviews?sp...,"[Christian Bale, Heath Ledger, Aaron Eckhart, ...",\n When the menace known as...,9.0,Christopher Nolan,[We've been subjected to enormous amounts of h...
15361,Inception,"[Action, Crime, Drama]",4.16,http://www.imdb.com/title/tt1375666/,http://www.imdb.com/title/tt1375666/reviews?sp...,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...",\n A thief who steals corpo...,8.8,Christopher Nolan,[What is the most resilient parasite? An Idea!...
17974,"Dark Knight Rises, The","[Action, Adventure, Crime]",3.98,http://www.imdb.com/title/tt1345836/,http://www.imdb.com/title/tt1345836/reviews?sp...,"[Christian Bale, Gary Oldman, Tom Hardy, Josep...",\n Eight years after the Jo...,8.4,Christopher Nolan,"[After eight years in seclusion, Batman resurf..."
22130,Interstellar,"[Sci-Fi, IMAX]",4.09,http://www.imdb.com/title/tt0816692/,http://www.imdb.com/title/tt0816692/reviews?sp...,"[Ellen Burstyn, Matthew McConaughey, Mackenzie...",\n A team of explorers trav...,8.6,Christopher Nolan,"[This movie was the best written, acted, visua..."
25087,Doodlebug,"[Fantasy, Mystery]",3.16,http://www.imdb.com/title/tt0411302/,http://www.imdb.com/title/tt0411302/reviews?sp...,[Jeremy Theobald],\n In his squalid apartment...,7.1,Christopher Nolan,[A man is trying to catch some sort of bug run...
41024,Dunkirk,"[Action, Drama, Thriller]",3.80,http://www.imdb.com/title/tt5013056/,http://www.imdb.com/title/tt5013056/reviews?sp...,"[Fionn Whitehead, Damien Bonnard, Aneurin Barn...",\n Allied soldiers from Bel...,7.9,Christopher Nolan,[Dunkirk is one of the most visually stunning ...

#### Comment: As we can see "Dark Knight Rises, The" is not correct and should be corrected to "The Dark Knight Rises".

In [81]:
# Run first to replace ", The"
dataset.loc[:, "title"] = dataset.loc[:, "title"].apply(lambda x: " ".join(x.split(", ")[::-1]) if ", The" in x else x)

# Run second time to replace ", A"
dataset.loc[:, "title"] = dataset.loc[:, "title"].apply(lambda x: " ".join(x.split(", ")[::-1]) if ", A" in x else x)

# - - - - - - - - -  - - - - - - - - - - - - - - - - - -- - - - - - - - - - - - - - - - - -

##### Step 2.1.3: Clean the plot summary - 26.01.2020

In [82]:
dataset['plot'] = dataset['plot'].apply(lambda x: x.strip())

dataset['plot'] = dataset['plot'].apply(lambda x: x.replace(',', ''))

dataset['plot'] = dataset['plot'].apply(lambda x: x.replace('.', ''))

dataset['plot'] = dataset['plot'].apply(lambda x: x.replace('?', ''))

dataset['plot'] = dataset['plot'].apply(lambda x: x.replace('!', ''))

dataset['plot'] = dataset['plot'].apply(lambda x: x.replace('\n                    See full summary\xa0»', ''))

dataset['plot'] = dataset['plot'].apply(lambda x: x.rstrip())

In [83]:
dataset['plot'].iloc[-1]

'Story of a young woman journalist who becomes enmeshed in the politics of the annexation of Morrocco from Algeria at the turn of the twentieth century The focus is on her hardships because'

# - - - - - - - - -  - - - - - - - - - - - - - - - - - -- - - - - - - - - - - - - - - - - -

##### Step 2.1.4: Remove empty summaries - 26.01.2020

In [86]:
len(dataset[dataset['plot'] == 'Add a Plot »'])

# Thus 176 mocies should be removed, due to UNKNOWN plot summary text

176

In [87]:
dataset = dataset[dataset['plot'] != 'Add a Plot »']

dataset.shape

(49217, 10)

# - - - - - - - - -  - - - - - - - - - - - - - - - - - -- - - - - - - - - - - - - - - - - -

##### Step 2.1.5: Create the positive/negative column - 26.01.2020

In [140]:
dataset.loc[:, 'sentiment_value'] = dataset['rating']

dataset.loc[:, 'sentiment_value'].loc[dataset.rating >=2.5] = 1

dataset.loc[:, 'sentiment_value'].loc[dataset.rating <2.5] = 0

# dataset.loc[:, 'sentiment_value'] = dataset['sentiment_value'].apply(lambda x: str(x))

# - - - - - - - - -  - - - - - - - - - - - - - - - - - -- - - - - - - - - - - - - - - - - -

##### Step 2.1.6 Create the column Combined Features (29.10.2019)

A very important columns, since it combines content from the important columns of the dataframe.
Specifically the text of:
* Title,
* Actors,
* Director,
* Plot summary,
* Genres

In [94]:
# The columns that will be used to create the column "Combined Features"

def combine_features(row):
    return row['title'].lower() + " " + ' '.join(map(str, row['actors'])).lower() + " " + row['director'].lower() + " " + row['plot'].lower() + " " + ' '.join(row['genres']).lower()

dataset["movie_features"] = dataset.apply(combine_features, axis=1)

In [97]:
dataset["movie_features"].iloc[0]

"toy story tom hanks tim allen don rickles jim varney wallace shawn john ratzenberger annie potts john morris erik von detten laurie metcalf r. lee ermey sarah freeman penn jillette jack angel spencer aste john lasseter a cowboy doll is profoundly threatened and jealous when a new spaceman figure supplants him as top toy in a boy's room adventure animation children"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#### Pickle the dataset (16.02.2020)

Old version on 30.10.2019 <br>
Latest version on 16.02.2020

In [141]:
dataset.to_pickle('C:\\Users\\spano\\Desktop\\GitHub-Thesis\\models_text_classification\\pickled_data_per_part\\dataset_part_2_16022020.pkl') 

#previous versions "dataset_part_2_07112019.pkl", "dataset_part_2_24122019.pkl", "dataset_30102019.pkl", "dataset_part_2_25012020.pkl"

In [142]:
dataset.shape

(49217, 12)

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

### Section 2.2: Save the dataset to SQL SERVER Database (for data persistent)

In [3]:
import pyodbc

dataset = pd.read_pickle('C:\\Users\\spano\\Desktop\\GitHub-Thesis\\models_text_classification\\pickled_data_per_part\\dataset_part_2_16022020.pkl')

dataset.shape

(49217, 12)

In [4]:
dataset[dataset.isna().any(axis=1)]

Empty DataFrame
Columns: [title, genres, rating, imdb_url, reviews_url, actors, plot, imdb_rating, director, reviews, sentiment_value, movie_features]
Index: []

In [5]:
dataset.isnull().sum()

title              0
genres             0
rating             0
imdb_url           0
reviews_url        0
actors             0
plot               0
imdb_rating        0
director           0
reviews            0
sentiment_value    0
movie_features     0
dtype: int64

#### Section 2.2.1: MOVIE CONTENT TO SQL TABLE

In [6]:
connStr = pyodbc.connect("DRIVER={SQL Server Native Client 11.0};" #SQL Server Native Client 11.0, #{ODBC Driver 17 for SQL Server}
                         "SERVER=LAPTOP-IFTEP7AL;"
                         "DATABASE=Movies_Dataset;"
                         "Trusted_Connection=Yes")

cursor = connStr.cursor()
 
delete_table =  """           
                        IF [Movies_Dataset].[dbo].TableExists('table_movies') = 1
                             DELETE FROM table_movies
                """

cursor.execute(delete_table)

insert_values = """
                        EXEC [Movies_Dataset].[dbo].[store_movies] @Movie_Title = ?, @IMDB_Rating = ?, @Director = ?, @Plot_Summary = ?, 
                        
                        @IMDB_Url = ?, @Reviews_Url = ?, @MovieLens_User_Rating = ?, @Sentiment_value = ?;
                """

for index, row in dataset.iterrows():

    params = (row['title'], row['imdb_rating'], row['director'], row['plot'], row['imdb_url'], row['reviews_url'], row['rating'], row['sentiment_value'])
    
    cursor.execute(insert_values, params)

connStr.commit()

cursor.close()

connStr.close()

#### Section 2.2.2: Actors TO SQL TABLE

In [8]:
column_actors = dataset.loc[:, ['title', 'actors']]

column_actors.shape

s = column_actors.apply(lambda x: pd.Series(x['actors']), axis=1).stack().reset_index(level=1, drop=True)

s.name = 'actors'

actor_names = column_actors.drop('actors', axis=1).join(s)

actor_names['actors'] = pd.Series(actor_names['actors'], dtype=object)

print(actor_names.head(15))

print(actor_names.shape)

       title             actors
0  Toy Story          Tom Hanks
0  Toy Story          Tim Allen
0  Toy Story        Don Rickles
0  Toy Story         Jim Varney
0  Toy Story      Wallace Shawn
0  Toy Story  John Ratzenberger
0  Toy Story        Annie Potts
0  Toy Story        John Morris
0  Toy Story    Erik von Detten
0  Toy Story     Laurie Metcalf
0  Toy Story       R. Lee Ermey
0  Toy Story      Sarah Freeman
0  Toy Story      Penn Jillette
0  Toy Story         Jack Angel
0  Toy Story       Spencer Aste
(656454, 2)

In [9]:
connStr = pyodbc.connect("DRIVER={SQL Server Native Client 11.0};"
                         "SERVER=LAPTOP-IFTEP7AL;"
                         "DATABASE=Movies_Dataset;"
                         "Trusted_Connection=yes")

cursor = connStr.cursor()
 
delete_table =  """           
                        IF dbo.TableExists('table_actors') = 1
                             DELETE FROM table_actors      
                """

insert_values = """ 
                        EXEC [dbo].[store_actors] @Movie_Title = ?, @Actors = ?;
                """   

cursor.execute(delete_table)

for index, row in actor_names.iterrows():

    params = (row['title'], row['actors'])
    cursor.execute(insert_values, params)

connStr.commit()

cursor.close()

connStr.close()

#### Section 2.2.3: Genres TO SQL TABLE

In [10]:
# GENRES TO SQL TABLE

column_genres = dataset.loc[:, ['title', 'genres']]

s = column_genres.apply(lambda x: pd.Series(x['genres']), axis=1).stack().reset_index(level=1, drop=True)

s.name = 'genres'

genres = column_genres.drop('genres', axis=1).join(s)

genres['genres'] = pd.Series(genres['genres'], dtype=object)

genres.head(15)

                         title     genres
0                    Toy Story  Adventure
0                    Toy Story  Animation
0                    Toy Story   Children
1                      Jumanji  Adventure
1                      Jumanji   Children
1                      Jumanji    Fantasy
2             Grumpier Old Men     Comedy
2             Grumpier Old Men    Romance
3            Waiting to Exhale     Comedy
3            Waiting to Exhale      Drama
3            Waiting to Exhale    Romance
4  Father of the Bride Part II     Comedy
5                         Heat     Action
5                         Heat      Crime
5                         Heat   Thriller

In [11]:
connStr = pyodbc.connect("DRIVER={SQL Server Native Client 11.0};"
                         "SERVER=LAPTOP-IFTEP7AL;"
                         "DATABASE=Movies_Dataset;"
                         "Trusted_Connection=yes")

cursor = connStr.cursor()
 
delete_table =  """           
                        IF dbo.TableExists('table_genres') = 1
                             DELETE FROM table_genres     
                """

insert_values = """ 
                        EXEC [dbo].[store_genres] @Movie_Title = ?, @Genres = ?;
                """   

cursor.execute(delete_table)

for index, row in genres.iterrows():

    params = (row['title'], row['genres'])
    
    cursor.execute(insert_values, params)

connStr.commit()

cursor.close()

connStr.close()

#### Section 2.2.4: Reviews TO SQL TABLE

In [12]:
# REVIEWS TO SQL TABLE

column_reviews = dataset.loc[:, ['title', 'reviews']]

s = column_reviews.apply(lambda x: pd.Series(x['reviews']), axis=1).stack().reset_index(level=1, drop=True)

s.name = 'reviews'

reviews = column_reviews.drop('reviews', axis=1).join(s)

reviews['reviews'] = pd.Series(reviews['reviews'], dtype=object)

reviews.head(15)

       title                                            reviews
0  Toy Story  Andy's toys live a reasonable life of fun and ...
0  Toy Story  I am a big fan of the animated movies coming f...
0  Toy Story  This is a very clever animated story that was ...
0  Toy Story  Y'know, I always suspected that my toys were c...
0  Toy Story  Toy Story is the film that started Pixar Anima...
0  Toy Story  Toy Story is a sheer delight to view on the sc...
0  Toy Story  Toy Story is not only the best Disney film bec...
0  Toy Story  Though I am not a big fan of computer animatio...
0  Toy Story  Just in case you were also wondering what happ...
0  Toy Story  Toy story was a fun, imaginative renewal of th...
0  Toy Story  Disney and Pixar studios team up and brought u...
0  Toy Story  I'm 19, going on 20 in six days. I don't need ...
0  Toy Story  What a wonderful integration of classic toys a...
0  Toy Story  When Toy Story came, in 1995,I was 9 years old...
0  Toy Story  A wonderfully sculpted piece of filmmaking. It...

In [13]:
connStr = pyodbc.connect("DRIVER={SQL Server Native Client 11.0};"
                         "SERVER=LAPTOP-IFTEP7AL;"
                         "DATABASE=Movies_Dataset;"
                         "Trusted_Connection=yes")

cursor = connStr.cursor()
 
delete_table =  """           
                        IF dbo.TableExists('table_reviews') = 1
                             DELETE FROM table_reviews      
                """

insert_values = """ 
                        EXEC [dbo].[store_reviews] @Movie_Title = ?, @Reviews = ?;
                """   

cursor.execute(delete_table)

for index, row in reviews.iterrows():

    params = (row['title'], row['reviews'])
    cursor.execute(insert_values, params)

connStr.commit()

cursor.close()

connStr.close()

#### End of part 2 (Transforming the columns of the final dataset)